<!DOCTYPE html>
<html>
<head>
  <title>FridayTesterApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to 'Home', root_path %> |
  <%= link_to 'New Persona', new_persona_path %>

<%= yield %>

</body>
</html>
